* {
    font-family: sans-serif;
}

h2 {
    padding-left: 10px;
}

h3 {
    margin: 0;
}

.completedTask {
    text-decoration: line-through;
    opacity: 0.4;
}

.completedTasksContainer .task {
    border-left: 3px solid #aaa;
}

.taskDetails {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;
}

.taskFields {
    padding: 0;
    max-width: 90%;
}

.completedTasksContainer, .uncompletedTasksContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 120px;
    background: #f5f5f5;
    border-right: 20px solid white;
    border-left: 3px solid #007425;
    padding: 10px 10px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.taskPriority {
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 8px;
    color: white;
    width: fit-content;
}
.highPriority {
    background: darkred;
}
.lowPriority {
    background: #008000;
}
.mediumPriority {
    background: darkorange;
}

.hidden {
    display: none;
}

.deleteStatusButtons, .taskEditButton {
    position: absolute;
    z-index: 10;
}

.deleteStatusButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    top: 28px;
    right: 0;
}

.taskEditButton, .taskChangeStatusButton, .taskDeleteButton {
    background: #aaa;
    color: #fff;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    width: fit-content;
    border-radius: 0;
    border: none;
    padding: 7px 10px;
}

.taskChangeStatusButton, .taskDeleteButton {
    margin-top: 8px;
    align-self: flex-end;
}

.taskEditButton {
    align-self: flex-end;
    right: 10px;
    top: 10px;
}

.taskDeleteButton {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.taskEditButton:hover, .taskChangeStatusButton[data-completed="true"]:hover {
    background: #666;
}

.taskDeleteButton:hover {
    background: darkred;
}

.taskChangeStatusButton[data-completed="false"]:hover {
    background: #008000;
}

.taskEditButton[data-edit="Edit"]::after {
     content: "\f303";
 }

.taskEditButton[data-edit="Cancel"]::after {
    content: "\f00d";
}

.taskChangeStatusButton[data-completed="false"]::after {
    content: "\f00c";
}
.taskChangeStatusButton[data-completed="true"]::after {
    content: "\f01e";
}

.taskDeleteButton::after {
    content: '\f2ed';
}

.updateTaskForm {
    width: 75%;
}

.updateTaskForm input, .updateTaskForm select, .updateTaskForm button {
    display: block;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.updateTaskForm input, .updateTaskForm select {
    display: block;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.updateTaskForm button {
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #666;
    color: #fff;
    margin: 20px 0 0 0;
    border-radius: 3px;
}

.updateTaskForm button:hover, .addTaskForm button:hover {
    background: #333;
}

.updateTaskForm input {
    width: 100%;
}


.updateTaskForm select {
    width: 40%;
}

.updateTaskForm input[name='name'] {
    font-size: 20px;
}

.addTaskForm {
    display: flex;
    padding-left: 10px;
}

.addTaskForm div {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.addTaskForm input[name='name'], .addTaskForm input[name='description'], .addTaskForm select, .addTaskForm option {
    border: 1px solid #666;
    border-radius: 0;
    font-size: 20px;
    padding: 0 5px;
    line-height: 28px;
}

.addTaskForm select {
    padding: 2px 5px;
}

.addTaskForm label {
    line-height: 25px;
    font-weight: 600;
}

.addTaskForm button {
    font-size: 20px;
    padding: 5px 10px;
    height: 33px;
    align-self: flex-end;
    border: none;
    background: #666;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
}

.addTaskForm button::before {
    content: '\f067';
    font-family: 'Font Awesome\ 5 Free';
}